/* Contact Area CSS */
.contact-area {
    .contact-wrap {
        .contact-form {
            form {
                margin-top: 2rem;
            }
        }

        .contact-info {
            .info-wrap {
                margin-top: 2rem;

                .info-item {
                    display: flex;
                    justify-content: cener;
                    align-items: center;

                    &:not(:first-child) {
                        h4 {
                            span {
                                text-transform: lowercase;
                            }
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 1.25rem;
                    }

                    i {
                        width: 3rem;
                        height: 3rem;
                        line-height: 3rem;
                        border: 1px solid $main_color;
                        text-align: center;
                        font-size: 1.25rem;
                        color: $main_color;
                        margin-right: 0.75rem;

                        @include breakpoint-down(small) {
                            width: 2.5rem;
                            height: 2.5rem;
                            line-height: 2.5rem;
                        }
                    }

                    h4 {
                        font-size: 1.5rem;

                        @include breakpoint-down(small) {
                            font-size: 1.25rem;
                        }

                        span {
                            display: block;
                            font-size: 1rem;
                            font-weight: 600;
                            padding: 0.25rem 0;
                        }
                    }
                }
            }

        }
    }
}