/* Menu Area CSS */
.menu-area {
    background-color: $bg_gray;

    .menu-wrap {
        .menu-item {
            background-color: $white;
            //display: flex;
            padding: 1.375rem;

            @include breakpoint-up(medium) {
                display: flex;
            }

            .menu-image {
                width: 100%;

                @include breakpoint-up(medium) {
                    width: 13rem;
                }

                img {
                    transition: all 250ms ease;

                    &:hover {
                        border-radius: 50%;
                        border: 1px dashed $dark;
                        padding: 0.25rem;
                    }
                }
            }
            .menu-content {
                margin: 1rem 0 0;
                
                @include breakpoint-up(medium) {
                    margin: 0 0 0 1rem;
                }

                h4 {
                    span {
                        float: right;
                        color: $main_color;
                    }
                }

            }
        }
    }
}